@model BookHolder.Areas.Admin.Models.Customers

@{
    ViewData["Title"] = "Edit";
}

<div class="page-container">
    <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <!-- Content Wrapper START -->
        <div class="main-content">
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-area="Admin" asp-controller="Home" asp-action="AdminIndex" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                        <a asp-area="Admin" asp-controller="Customers" asp-action="Index" class="breadcrumb-item">Danh sách Tài khoản</a>
                        <span class="breadcrumb-item active">Xóa Tài Khoản: @Model.CustomerName</span>
                    </nav>
                </div>
            </div>
            <div class="page-header no-gutters has-tab">
                <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                    <div class="media align-items-center m-b-15">
                        <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                            <img src="assets/images/others/thumb-16.jpg" alt="">
                        </div>
                        <div class="m-l-15">
                            <h4 class="m-b-0">@Model.CustomerName</h4>
                            <p class="text-muted m-b-0">ID: @Model.RoleId</p>
                        </div>
                    </div>
                    <div class="m-b-15">
                        @*<button class="btn btn-primary">
                            <i class="anticon anticon-edit"></i>
                            <span>Edit</span>
                        </button>*@
                        <div class="form-group col-md-8">
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary">Thay Đổi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="tab-content m-t-15">
                    <div class="tab-pane fade show active" id="product-overview">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Thông Tin Chi Tiết</h4>


                                <div class="form-group">
                                    <div class="form-group col-md-6">
                                        <label class="col-sm-2 col-form-label">Tên</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" asp-for="CustomerName" placeholder="Tên">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-sm-2 col-form-label">Số ĐT</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" asp-for="Phone" placeholder="phone">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-sm-2 col-form-label">Địa Chỉ</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" asp-for="Address" placeholder="Địa chỉ">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center">
                                        <div class="switch m-r-10">
                                            <input type="checkbox" asp-for="Status">
                                            <label for="Status"></label>
                                        </div>
                                        <label>Trạng Thái</label>
                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Wrapper END -->
    </form>

</div>

